.register{
  box-sizing: border-box;
  background-color: #ECE8E8;
  border-radius:6px;
  border-style: solid;
  border-width: 1px;
  border-color:#d2d5db;
  margin-bottom: 10px;

  h2{
  box-sizing: border-box;
  margin-right:10px;
  margin-left:10px;
  border-bottom:1px solid black;
  margin-top: 10px;
  margin-bottom: 25px;
  }

  form{
  box-sizing: border-box;
  margin-right:10px;
  margin-left:10px;
  margin-bottom:10px;
  height: 60px;
    .leftside{
      float: left;
      width: 50%;
      input{
        width: 100%;
      }

    }
    .rightside{
      float: right;
      width: 50%;
      input{
        width: 100%;
      }

    }

  }
}

.register-none{
  display:none;
}




