#tweets .oldTweet{
  box-sizing: border-box;
  /*margin-right:2em;*/
  /*margin-left:2em;*/
  background-color: #ECE8E8;
  border-radius:6px;
  border-style: solid;
  border-width: 1px;
  border-color:#d2d5db;
  margin-top: 10px;
  margin-top: 10px;

}

#tweets .oldTweet:hover img{

  opacity:1;
}

#tweets .oldTweet:hover .tweeterName{

  color:#244751;
}

#tweets .oldTweet:hover .icon{

  color:#43bd9b;
}

#tweets .oldTweet:hover {
  border-color:#5b6271;
  background-color:  #e8e3e3;
}



.oldTweet img{
  opacity: 0.5;
  margin:6.5px 5px 6.5px 5px;
  float:left;

}


.oldTweet header{
  box-sizing: border-box;
  height: 65px;
  border-bottom:1px solid #d2d5db;

}

.oldTweet .tweeterName{
  box-sizing: border-box;
  float:left;
  margin-top:10px;
  font-size:1.5em;
  font-weight:700;
  color:#6e98a5;

}


.oldTweet .tweeterId{
  box-sizing: border-box;
  color: #8c8585;
  float:right;
  margin-top:19px;
  margin-right:6.5px


}

.oldTweet .postTime{
  box-sizing: border-box;
  float:left;
  margin-top:10px;
  margin-left:6.5px
}

.oldTweet .icon{
  box-sizing: border-box;
  float:right;
  margin-top:10px;
  margin-right:6.5px;
  color:#ffffff;
}


.oldTweet footer{
  box-sizing: border-box;
  border-top:1px solid #d2d5db;
  height: 37px;
  background-color: white;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
}


.oldTweet article{
  box-sizing: border-box;
  height: 98px;
  background-color: white;
}

.oldTweet p{
  overflow: auto;
  word-wrap: break-word;
  box-sizing: border-box;
  margin-left:10px;
  margin-top:0px;
  margin-bottom:0px;
  margin-right:20px;
  padding-top:40px;
  background-color: white;
}
